<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "| brogus.space" %></title>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#nav-icon1,#nav-icon2,#nav-icon3,#nav-icon4').click(function(){
                $(this).toggleClass('open');
                $('.navbar-list').toggleClass('navbar-open');
            });
        });
    </script>
  </head>
  <body>
    <nav id="navbar">

      <!-- mobile -->
      <div id="nav-icon1">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <h3>brogus.space</h3>

      <!-- desktop & mobile -->
      <ul class="content navbar-list">
        <li id="title"><%= link_to "brogus.space", "/" %></li>
        <li><%= current_link_to "Home", "/" %></li>
        <li><%= current_link_to "Brogal Implants", "/implants.html" %></li>
        <li><%= current_link_to "Seepage and Discharge", "/seepage_and_discharge.html" %></li>
        <li><%= current_link_to "Our Team", "/team.html" %></li>
        <li><%= current_link_to "Contact", "/contact.html" %></li>
      </ul>
    </nav>
    <%= yield %>
    <footer>
      <hr class="thin"/>
      <p>© 2017 Brogus Consultants, LLC</p>
    </footer>
  </body>
</html>
